@reference "tailwindcss";

/*Implement Personalization schemes here Dark Mode , Light Mode, and various themes*/

:root{
    --primary-color : #fff;
    --primary-opac : #fffd;
    --bg-hero : #fcb;
    --secondary-color : amber-200;
    --gradient-stop-1 : rgb(255, 74, 2);
    --gradient-stop-2 : rgb(0, 81, 255);
}

.dark{
    --primary-color : #334;
}

